.header {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  background-image: url(../../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  padding-bottom: 80px;
}

.header_bg-light {
  background-image: none;
  color: black;
}

.header__content {
  max-width: 608px;
  margin: 80px auto 0;
}

.header__title {
  font-family: 'Roboto-slab';
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  margin: 0;
}

.header__subtitle {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 32px 0 88px 0;
}

@media screen and (max-width: 1300px) {
  .header {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding-bottom: 48px;
  }
  .header__title {
    font-size: 36px;
    line-height: 40px;
  }

  .header__content {
    margin: 38px auto 0;
    max-width: 452px;
  }

  .header__subtitle {
    margin: 16px 0 48px 0;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding-bottom: 32px;
  }
  .header__content {
    margin: 30px auto 0;
    max-width: 452px;
  }
  .header__subtitle {
    margin: 16px 0 122px 0;
  }
}
