.newsCardList {
  display: grid;
  grid-template-columns: repeat(3, minmax(224px, 1fr));
  grid-gap: 16px;
  margin: 0 auto;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style: none;
  padding-inline-start: 0;
  padding-bottom: 64px;
}

@media (max-width: 767.98px) {
  .newsCardList {
    grid-template-columns: repeat(2, minmax(224px, 1fr));
  }
}

@media (max-width: 510px) {
  .newsCardList {
    grid-template-columns: repeat(1, minmax(224px, 1fr));
  }
}
