.newsCardList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
  grid-gap: 16px;
  margin: 0 auto;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style: none;
  padding-inline-start: 0;
  padding-bottom: 64px;
}
