.news-card {
  border-radius: 16px;
  perspective: 1px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
}

.news-card:hover {
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.079);
}

.news-card__image-container {
  height: 272px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px 16px 0 0;
  background-size: cover;
}

.news-card__text-container {
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.news-card__date {
  margin-block-start: 0;
  margin-block-end: 0;
  color: rgba(182, 188, 191, 1);
  margin-bottom: 12px;
}

.news-card__title {
  font-family: 'Roboto-slab';
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 16px;
}

.news-card__text {
  font-size: 16px;
  line-height: 22px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 18px;
}

.news-card__source {
  font-family: 'Roboto-slab';
  color: rgba(182, 188, 191, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin-block-start: 0;
  margin-block-end: 0;
  text-transform: uppercase;
}

.news-card__button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 20;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: rgba(255, 255, 255, 1);
  background-image: url(../../images/trash_icon.svg);
}

.news-card__button:hover {
  background-image: url(../../images/trash_icon_black.svg);
}

.news-card__button_type_save {
  background-image: url(../../images/save_icon.svg);
}

.news-card__button_type_save:hover {
  background-image: url(../../images/save_icon_black.svg);
}

.news-card__button_type_save-active {
  background-image: url(../../images/save_icon_active.svg);
}

.news-card__keyword {
  background-color: rgba(255, 255, 255, 1);
  top: 24px;
  left: 24px;
  padding: 8px 16px;
  border-radius: 8px;
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: 'Roboto';
  font-family: 500;
  font-size: 14px;
  line-height: 24px;
}

.news-card__tootltip {
  position: absolute;
  top: 24px;
  right: 70px;
  height: 40px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  padding: 11px 22px;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 786px) {
  .news-card__image-container {
    height: 150px;
  }
  .news-card__date {
    margin-bottom: 8px;
  }
  .news-card__title {
    font-size: 22px;
    line-height: 24px;
  }
}
